@(message: String,user:String)
<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="../">
        <title>艺岳订餐</title>
        <link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/style.css")'>
        <link rel="stylesheet" media='screen' href='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.css"))'>
    </head>
    <body class="index_page">
        <body class="index_page"  ng-controller="OrderDinnerCtrl as oc">
            <div class="top_nav">

                <div class="block">
                    <ul class="top_bav_l">
                        <li class="top_sc"> <a href="javascript:void(0);" onclick="addFavorite(this,'艺岳订餐')">收藏我们</a> </li>
                        <li>关注我们：</li>
                        <li style="border:none" class="menuPopup" onmouseover="sw_nav(1,1);" onmouseout="sw_nav(1,0);"> <a id="HandleLI_1" href="javascript:;" title="微博" class="attention"></a>
                            <div id="DisSub_1" class="top_nav_box  top_weibo" style="display: none;"> <a href="http://e.weibo.com/ECMBT" target="_blank" title="新浪微博" class="top_weibo"></a></div>
                        </li>
                        <li class="menuPopup" onmouseover="sw_nav(2,1);" onmouseout="sw_nav(2,0);"> <a id="HandleLI_2" href="javascript:;" title="微信" class="top_weixin"></a>
                            <div id="DisSub_2" class="  weixinBox" style="display: none;"> <img src=""> </div>
                        </li>
                    </ul>
                    <div class="header_r">
                        <font id="ECS_MEMBERZONE">
                        欢迎光临本店，@user
                        @*<a href="">登录</a> | <a>注册</a>*@
                        </font>
                    </div>
                </div>
            </div>
            <div style=" clear : both"></div>
            <div style="height : 83px ; width : 100 % ;" class="clearfix">
                <div class="block header">
                    <div class="logo"> </div>
                    <div class="header-search">
                            <div class="searchleft"> </div>
                            <div class="key">
                                <input name="keywords" type="text" id="keyword"  ng-model="filterOptions.filterText.searchText1" class="search-input">
                            </div>
                            <div class="btn_search">
                                <input value="" id="seachbtn" type="submit">
                            </div>
                    </div>
                </div>
            </div>
            <div style="clear : both"></div>
            <div class="menu_nav">
                <div id="topchannel" class="nav">
                    <ul>
                        <li class="lichannel"><a href="" ng-click="oc.hideCart()">首页</a></li>
                    </ul>
                    <a href="" ng-click="oc.showCart()" title="查看购物车">
                    <div id="menuCart" class="shooping_car">
                        <span>{{count}} </span> </div>
                    </a>
                </div>

                <div class="block clearfix" style="margin-top : 10px;"  ng-hide="!showCart">
                    <div>
                        <div class="sale_box clearfix">
                            <div class="tit"><span>15元套餐</span></div>
                            <div class="clearfix">
                                <ul class="clearfix" ng-repeat="result in myData  | filter:{'priceScope': '15'} | filter:{'foodType': '主菜'} | orderBy:'price'">
                                    <li class="goodsimg">
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/4.jpg" border="0" alt="123" class="B_blue">
                                        </a>
                                    </li>
                                    <li class="goodsimgDesc">
                                        <p>
                                            <a href="" ng-click="addFood(result)" title="{{result.foodName}}">
                                                <span class="redBold">{{result.foodName}}</span>
                                            </a>
                                            价格：<font class="f1">{{result.priceStr}}元</font>
                                        </p>
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/goumai2.gif">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blank"></div>

                        <div class="sale_box clearfix">
                            <div class="tit"><span>20元套餐</span></div>
                            <div class="clearfix">
                                <ul class="clearfix" ng-repeat="result in myData  | filter:{'priceScope': '20'} | filter:{'foodType': '主菜'} | orderBy:'price'">
                                    <li class="goodsimg">
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/4.jpg" border="0" alt="" class="B_blue">
                                        </a>
                                    </li>
                                    <li class="goodsimgDesc">
                                        <p>
                                            <a href="" ng-click="addFood(result)" title="{{result.foodName}}">
                                                <span class="redBold">{{result.foodName}}</span>
                                            </a>
                                            价格：<font class="f1">{{result.priceStr}}元</font>
                                        </p>
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/goumai2.gif">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blank"></div>

                        <div class="sale_box clearfix">
                            <div class="tit"><span>25元套餐</span></div>
                            <div class="clearfix">
                                <ul class="clearfix" ng-repeat="result in myData  | filter:{'priceScope': '25'} | filter:{'foodType': '主菜'} | orderBy:'price'">
                                    <li class="goodsimg">
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/4.jpg" border="0" alt="" class="B_blue">
                                        </a>
                                    </li>
                                    <li class="goodsimgDesc">
                                        <p>
                                            <a href="" ng-click="addFood(result)" title="{{result.foodName}}">
                                                <span class="redBold">{{result.foodName}}</span>
                                            </a>
                                            价格：<font class="f1">{{result.priceStr}}元</font>
                                        </p>
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/goumai2.gif">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blank"></div>
                        <div class="sale_box clearfix">
                            <div class="tit"><span>25元以上套餐</span></div>
                            <div class="clearfix">
                                <ul class="clearfix" ng-repeat="result in myData  | filter:{'priceScope': '30'} | filter:{'foodType': '主菜'} | orderBy:'price'">
                                    <li class="goodsimg">
                                        <a href="" ng-click="addFood(result)">
                                            <img src="assets/images/4.jpg" border="0" alt="" class="B_blue">
                                        </a>
                                    </li>
                                    <li class="goodsimgDesc">
                                        <p>
                                            <a href="" ng-click="addFood(result)" title="{{result.foodName}}">
                                                <span class="redBold">{{result.foodName}}</span>
                                            </a>
                                            价格：<font class="f1">{{result.priceStr}}元</font>
                                        </p>
                                        <a href="assets/images/4.jpg" ng-click="addFood(result)">
                                            <img src="assets/images/goumai2.gif">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blank"></div>
                    </div>

                    <div class="blank"></div>
                    <div class="goodsBox_1">
                        <div class="xm-box">
                            <h4 class="title"><span>单点</span> <a class="more" href="category.php?id=763">更多</a></h4>
                            <div class="blank"></div>
                            <div id="show_hot_area" class="clearfix" ng-repeat="result in myData  | filter:{'foodType': '辅菜'} | orderBy:'price'">
                                <div class="goodsItem text-center">
                                    <a href="" ng-click="addFood(result)">
                                        <img src="assets/images/1.jpg" alt="" class="goodsimg">
                                    </a><br>
                                    <p style="text-align: center;">
                                        <a href="" ng-click="addFood(result)" title="{{result.foodName}}" class="redBold" >
                                            {{result.foodName}}
                                        </a>
                                        价格：<font class="f1">{{result.priceStr}}元</font>
                                    </p>
                                    <a href="" ng-click="addFood(result)">
                                        <img src="assets/images/goumai2.gif">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blank"></div>
                    <div class="goodsBox_1">
                        <div class="xm-box">
                            <h4 class="title"><span>汤类</span> <a class="more" href="category.php?id=763">更多</a></h4>
                            <div class="blank"></div>
                            <div id="show_hot_area" class="clearfix" ng-repeat="result in myData  | filter:{'foodType': '汤类'} | orderBy:'price'">
                                <div class="goodsItem text-center">
                                    <a href="" ng-click="addFood(result)">
                                        <img src="assets/images/1.jpg" alt="" class="goodsimg">
                                    </a><br>
                                    <p style="text-align: center;">
                                        <a href="" ng-click="addFood(result)" title="{{result.foodName}}" class="redBold" >
                                            {{result.foodName}}
                                        </a>
                                        价格：<font class="f1">{{result.priceStr}}元</font>
                                    </p>
                                    <a href="" ng-click="addFood(result)">
                                        <img src="assets/images/goumai2.gif">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="foot_add">
                    </div>
                </div>

                <div class="block table " ng-hide="showCart">
                    <div class="flowBox">
                        <h6><span>商品列表</span></h6>
                        <form id="formCart" name="formCart" method="post" action="flow.php">
                            <table width="99%" align="center" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                                <tbody>
                                    <tr>
                                        <th bgcolor="#ffffff">商品名称</th>
                                        <th bgcolor="#ffffff">所属饭店</th>
                                        <th bgcolor="#ffffff">市场价</th>
                                        <th bgcolor="#ffffff">本店价</th>
                                        <th bgcolor="#ffffff">购买数量</th>
                                        <th bgcolor="#ffffff">小计</th>
                                        <th bgcolor="#ffffff">操作</th>
                                    </tr>
                                    <tr ng-repeat="food in foods">
                                        <td bgcolor="#ffffff" align="center" style="width:300px;">
                                            <a href="goods.php?id=214" target="_blank"><img style="width:80px; height:80px;" src="" border="0" title="泰国龙眼2斤装"></a><br>
                                            <a href="goods.php?id=214" target="_blank" class="f6">{{food.foodName}}</a>
                                        </td>
                                        <td bgcolor="#ffffff">{{food.source}}</td>
                                        <td align="center" bgcolor="#ffffff">{{food.priceStr}}元</td>
                                        <td align="center" bgcolor="#ffffff">{{food.priceStr}}元</td>
                                        <td align="center" bgcolor="#ffffff">
                                            1
                                        </td>
                                        <td align="center" bgcolor="#ffffff">{{food.priceStr}}元</td>
                                        <td align="center" bgcolor="#ffffff">
                                            <a href="" ng-click="deleteFood(food)" class="f6">删除</a>
                                        </td>
                                    </tr>
                                    <tr ng-hide="foods.length">
                                        <td colspan="7">
                                            <p class="text-center">空空如也</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="99%" align="center" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd" ng-show="foods.length">
                                <tbody><tr>
                                    <td bgcolor="#ffffff">
                                        购物金额小计 {{salePrice}}元，比市场价 {{orgPrice}}元 节省了 {{orgPrice-salePrice}}元 ({{(orgPrice-salePrice)/orgPrice*100}}%)              </td>
                                    <td align="right" bgcolor="#ffffff">
                                        <input type="button" value="清空购物车" class="bnt_blue_1" ng-click="clearFoods()">
                                        <input  type="button" class="bnt_blue_1" value="更新购物车">
                                    </td>
                                </tr>
                                </tbody></table>
                            <input type="hidden" name="step" value="update_cart">
                        </form>
                        <table width="99%" align="center" border="0" cellpadding="5" cellspacing="0" bgcolor="#dddddd">
                            <tbody><tr>
                                <td bgcolor="#ffffff"><a href="" ng-click="oc.hideCart()"><img src="assets/images/continue.gif" alt="continue"></a></td>
                                <td bgcolor="#ffffff" align="right"><a href="" ng-click="confirmOrder()"><img src="assets/images/checkout.gif" alt="checkout"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="footer" style="margin-top : 30px;">
                    <div class="footer-menu clearfix">
                        <dl>
                            <dt><a href="article_cat.php?id=5" title="新手上路 ">新手上路 </a></dt>
                            <dd><a href="article.php?id=9" title="售后流程">售后流程</a></dd>
                            <dd><a href="article.php?id=10" title="购物流程">购物流程</a></dd>
                            <dd><a href="article.php?id=11" title="订购方式">订购方式</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="article_cat.php?id=6" title="购物常识 ">购物常识 </a></dt>
                            <dd><a href="article.php?id=12" title="如何分辨原装电池">如何分辨原装电池</a></dd>
                            <dd><a href="article.php?id=13" title="如何分辨水货手机 ">如何分辨水货手机</a></dd>
                            <dd><a href="article.php?id=14" title="如何享受全国联保">如何享受全国联保</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="article_cat.php?id=7" title="配送与支付 ">配送与支付 </a></dt>
                            <dd><a href="article.php?id=15" title="货到付款区域">货到付款区域</a></dd>
                            <dd><a href="article.php?id=16" title="配送支付智能查询 ">配送支付智能查询</a></dd>
                            <dd><a href="article.php?id=17" title="支付方式说明">支付方式说明</a></dd>

                        </dl>
                        <dl>
                            <dt><a href="article_cat.php?id=10" title="会员中心">会员中心</a></dt>
                            <dd><a href="article.php?id=18" title="资金管理">资金管理</a></dd>
                            <dd><a href="article.php?id=19" title="我的收藏">我的收藏</a></dd>
                            <dd><a href="article.php?id=20" title="我的订单">我的订单</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="article_cat.php?id=8" title="服务保证 ">服务保证 </a></dt>
                            <dd><a href="article.php?id=21" title="退换货原则">退换货原则</a></dd>
                            <dd><a href="article.php?id=22" title="售后服务保证 ">售后服务保证</a></dd>
                            <dd><a href="article.php?id=23" title="产品质量保证 ">产品质量保证</a></dd>
                        </dl>
                        <div class="tel-us"> <a class="online-link" href="javascript:void(0);">在线客服</a> </div>
                    </div>
                    <div class="copyright">
                        <img src="" alt="" style="width : 0px ; height : 0px ;"><br>
                        <a href="" target="_blank" style=" font-family : Verdana ; font-size : 11px ;">
                            Powered&nbsp;by&nbsp;<strong><span style="color : #3366FF">
                            艺岳资产管理有限公司</span>&nbsp;<span style="color : #FF9966">v1.1.0</span></strong></a>&nbsp;<br>
                        <div align="center" style=" margin : 15px"><a href="" target="_blank"><img src="" alt="艺岳资产"></a></div>
                    </div>
                </div>
            </div>
        </body>
    </body>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ng-grid.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("date.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.js"))' type="text/javascript"></script>

    <script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/common/uploadForExcel.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/common/PageService.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/common/core.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/directives/NgEnter.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/directives/goBackButton.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/directives/NgPageChanged.js")' type="text/javascript"></script>


    <script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/order/orderDinnerCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/order/orderModalCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/order/orderService.js")' type="text/javascript"></script>

    <script src='@routes.Assets.at("javascripts/common/active.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/common/public.js")' type="text/javascript"></script>
</html>